#best-times {
    width: 25%;
    background-color: #104373;
    border: solid 2px #104373;
    border-radius: 4px;
    color: #b5e0d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#best-times p:first-child{
    margin: 0.5rem 0.2rem;
}

#best-times p:nth-child(2) {
    font-weight: bold;
    color: #62cbe7;
    border: #62cbe7 solid 2px;
}