.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #b5e0d3;
    font-family: 'Bruno Ace', cursive;
    font-weight: bolder;
    background-color:#104373;
    width: 42px;
    height: 30px;
    border: 2px solid  #104373;
    border-radius: 4px;
    /* width: 25%; */
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button:last-child {
    height: 65px;
}

.button:hover {
    color: #62cbe7;
}
