#game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    padding-top: 2rem;
    background-color: #104373;
    border: solid 2px #104373;
    border-radius: 4px;
    color: #b5e0d3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#game-info button {
    background-color: #62cbe7;
    border: 2px solid #62cbe7;
    border-radius: 4px;
    color: #104373;
    font-family: 'Bruno Ace', cursive;
    font-size: 2rem;
    margin: 1rem;
    cursor: pointer;
}

#game-info button:hover {
    color: whitesmoke;
}

#game-info h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.symbol-clicks {
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.symbol-clicks p {
    padding: 0px;
    margin: 0px;
}

.target-number {
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
    padding: 1rem 0rem;
    color: #62cbe7;
    font-weight: bold;
}

/* MEDIA QUERY FOR RESPONSIVE DESIGN */

@media screen and (max-width: 900px) {
    #game-info {
        width: 70%;
    }
}