#game-info {
    width: 25%;
    padding-top: 16px;
    background-color: #104373;
    border: solid 2px #104373;
    border-radius: 4px;
    color: #b5e0d3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-info button {
    background-color: #62cbe7;
    border: 2px solid #62cbe7;
    border-radius: 4px;
    color: #104373;
    font-family: 'Bruno Ace', cursive;
    margin: 4px;
    cursor: pointer;
}

#game-info button:hover {
    color: whitesmoke;
}

#game-info h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.symbol-clicks {
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.symbol-clicks p {
    padding: 0px;
    margin: 0px;
}

.target-number {
    font-size: 2rem ;
    font-family: 'Orbitron', sans-serif;
    padding: 12px 0px;
    color: #62cbe7;
    font-weight: bold;
}